


.homePage{
    .header-box{
        height: 40px;
        background-color: $black;
    }

    thead th{
        font-size: 20px;
        font-weight: normal;
    }
    tbody {
        th{
            font-size: 24px;
            font-weight: normal;
        }
        td{
            text-align: center;
        }
    }

    input::placeholder {
        color: #9ea6ad; 

    }

    .table{
        --bs-table-bg: none;
        --bs-table-border-color: transparent;
    }

}

.card {
    width: 343px; 
}

.swiper-slide {
    width: auto !important; 
}

.btn-primary:hover{
    background-color: $accent;
}

.new-tag{
    background-color: $black;
    padding: 8px 24px;
    position: absolute;
    top:12px;
    right:-5px;
    color: $white;

}

.alert-msg{
    bottom:10px;
    right: -60px;
}



